@tailwind base;
@tailwind components;
@tailwind utilities;

.hexagon-border {
    @apply bg-gray-600 flex items-center justify-center w-full h-full;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hexagon-inner {
    @apply bg-slate-200 flex items-center justify-center w-[90%] h-[90%];
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


.wrap {
    color: #222;
    font-size: 32px;
    font-weight: bold;
}

.clip-each {
    display: block;
    position: relative;
    -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    -webkit-clip-path: url("#hexagon-clip");
    clip-path: url("#hexagon-clip");
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin: 0 auto;
}

.clip-svg {
    width: 0;
    height: 0;
}

.clip-caption {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 25%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}


.clip-border {
    background: gray;
    width: 160px;
    height: 160px;
    margin-top: 7px;
    color: #222;
}

.clip-border::after {
    content: "";
    position: absolute;
    top: 4%;
    left: 4%;
    right: 4%;
    bottom: 4%;
    margin: 0 auto;
    background: white;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    -webkit-clip-path: url("#hexagon-clip");
    clip-path: url("#hexagon-clip");
    z-index: -1;
}