@tailwind base;
@tailwind components;
@tailwind utilities;

.hexagon-wrapper {
    @apply relative w-40 h-40;
}

.hexagon-border {
    @apply bg-red-500 w-full h-full absolute top-0 left-0;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hexagon-inner {
    @apply bg-blue-500 w-full h-full flex items-center justify-center absolute top-0 left-0;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
