@tailwind base;
@tailwind components;
@tailwind utilities;

.hexagon-border {
    @apply bg-gray-600 flex items-center justify-center w-full h-full;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hexagon-inner {
    @apply bg-slate-200 flex items-center justify-center w-[90%] h-[90%];
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
